albert/
Code
autostart/
coc/
Code/
code-oss/
composer
configstore/
dconf/
fcitx/
fcitx5/
google-chrome/
gtk-2.0/
gtk-3.0/
ibus/
kde.org/
polybar/
polybar.old/
tencent-qq/
Thunar/
touchpad/
VirtualBox/
ranger/plugins/__pycache__/
ranger/plugins/devicons2/__pycache__/
ranger/plugins/devicons2/screenshot.png
ranger/plugins/devicons2/LICENSE.txt
ranger/plugins/devicons2/README.md
ranger/plugins/ranger_devicons/__pycache__/
matplotlib/
kde.org/
libreoffice/
matplotlib/
menus/
netease-cloud-music/
Electron/
session/
Code - OSS/
xfce4/

kdeglobals
dolphinrc
kconf_updaterc
kconf_updaterc
kdeglobals
mimeapps.list
QtProject.conf

ranger/plugins/ranger_devicons/__init__.py
nvim/.netrwhist

jesseduffield/lazygit/state.yml

nvim/
