albert/
Code
code-oss/
composer
configstore/
coc/
dconf/
fcitx/
fcitx5/
google-chrome/
gtk-2.0/
gtk-3.0/
ibus/
polybar/
polybar.old/
VirtualBox/
ranger/plugins/__pycache__/
ranger/plugins/devicons2/__pycache__/
ranger/plugins/devicons2/screenshot.png
ranger/plugins/devicons2/LICENSE.txt
ranger/plugins/devicons2/README.md
ranger/plugins/ranger_devicons/__pycache__/
matplotlib/
kde.org/
Electron/
session/
Code - OSS/

kdeglobals
dolphinrc
kconf_updaterc

ranger/plugins/ranger_devicons/__init__.py