snippet iferr "if err != nil"
if err != nil {
	${1:return}
}
endsnippet

snippet forr "for loop"
for _, ${1:v} := range ${2:vs} {
	${3://TODO}
}
endsnippet

snippet func "C-Func"
func ${1:name}(${2:arg}) ${3:error} {
	//${4:TODO}
	${5:}
}

${0}
endsnippet

snippet fu "lambda"
func() {
	${1:code}
}()
endsnippet
