snippet iferr "if err != nil"
if err != nil {
	return ${1:}
}
${0}
endsnippet

snippet forr "for loop"
for _, ${1:v} := range ${2:vs} {
	${3://TODO}
}
endsnippet

snippet func "C-Func"
func ${1:name}(${2:arg}) ${3:error} {
	//${4:TODO}
	${5:}
}

endsnippet
